<h1>{{titulo}}</h1>
{{#if conocido}}

<p>Hola {{nombre}} <a href="/salir">salir</a></p>
{{/if}}
{{#if menor}}
<p>sos menor</p>
{{/if}}

{{#unless conocido}}
<p>no te conozco</p>
<form action="/ingresar" method="post">
<input type="text" name="nombre">
<input type="number" name="edad">
<button>ingresar</button>
</form>
{{/unless}}